<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>ADD STUDENT</h1>
    <form method="POST">
        {% csrf_token %}
        <label for="name">FIRSTNAME</label>
        <input type="text" name="fname" required><br><br>
        <label for="name">LASTNAME</label>
        <input type="text" name="lname" required><br><br>
        <label for="email">EMAIL</label>
        <input type="email" name="email" required><br><br>
        <label for="phone">PHONE</label>
        <input type="text" name="phn" required><br><br>
        <select name="id">
            {% for x in data %}
            <option value="{{x.id}}">{{x.course_name}}</option>
            {% endfor %}
        </select>
        <button type="submit">ADD</button>
    </form>
</body>
</html>