<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <label for="id">bookid</label>
        <input type="text" name="id" required> <br>
        <label for="name" >title</label>
        <input type="text" name="name" required> <br>
        <label for="author" >author</label>
        <input type="text" name="author" required> <br>
        <label for="date" >pubdate</label>
        <input type="date" name="date" required> <br>
        <label for="isbn">isbn</label>
        <input type="text" name="isbn" required> <br>
        <button type="submit">submit</button>
    </form>
</body>
</html>