<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>PRODUCT DETAILS</h1>
    <form>
        <label for="id">prouduct id</label>
        <input type="text" name="prid" required><br>
        <label for="name">product name</label>
        <input type="text" name="prname" required><br>
        <label for="user">user</label>
        <select name="user_id">
            {% for i in dats %}
            <option value="{{i.user_id}}">{{i.user_name}}</option>
            {% endfor %}
        </select>
        <button type="submit">ADD</button>
    </form>
</body>
</html>