<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Product List</h1>
  <ul>
    {% for product in products %}
      <li>
        {{ product.name }} 
        ${{ product.price }}
        {% if product.status %}
          <span style="color: green;">in stock</span>
        {% else %}
          <span style="color:red;">out of stock</span>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

</body>
</html>