<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>BOOK DETAILS</h1>
    <table border="=3">
        <tr>
            <th>ID</th>
            <th>TITLE</th>
            <th>CONTANT</th>
            <th>AUTHOR</th>
            <th>CREATED AT</th>
            <th>UPDATED AT</th>

        </tr>
        <tr>
            {% for i in data %}
            <td>{{i.id}}</td>
            <td>{{i.title}}</td>
            <td>{{i.contant}}</td>
            <td>{{i.author}}</td>
            <td>{{i.created_at}}</td>
            <td>{{i.updated_at}}</td>
            <td><a href="{% url 'pid' i.id %}">delete</a></td>
            <td><a href="{% url 'uid' i.id %}">update</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>